@import url("https://cdn.syncfusion.com/ej2/material.css");
div{
  background-color: whitesmoke;
}
div .heading
{
  font-family: 'Dancing Script', cursive;
	font-size: 10px;
	margin-bottom: 10px;
  text-align: center;
  color: black;
}
div .time
{
  font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin-bottom: 10px;
  text-align: center;
  color: black;
}